/*ejercicio1b.css CJ16005*/

fichero{brackground-color: orange; display:block;}

nombre{color:red; display:inline}
dui{color:yellow; font-size: 3cm; display:inline;}
iss{color:red; font-style: arial; display:inline;}
afp{color:yellow; display:none;}